@{
    var _Menu = Html.GetMenu();
    var _LayoutContent = Html.GetSite().ContentLayout;
}
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @if (ViewBag.HideBrand == null)
            {
                <a class="navbar-brand" href="/">
                    <img src="~/wwwroot/build/images/isotipo.png"  />
                </a>
            }
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                @foreach (var item in _Menu)
                {
                    <li>
                        <a href="@(!string.IsNullOrEmpty(item.RedirectUrl) ? item.RedirectUrl : '/' + item.FriendlyUrl)">
                            <div>
                                @item.Name
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
