@{
    ViewBag.Title = "Error";
}
<header class="intro-header" style="background-color:#ff0000; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Error.</h1>
                    <hr class="small">
                    <span class="subheading">An error occurred while processing your request.</span>
                </div>
            </div>
        </div>
    </div>
</header>


