@import "clean-blog/clean-blog.less";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    .sans-serif;
}

p {
    .sans-serif;
}

.btn-on {
    border-color: @brand-primary;
    background-color: @brand-primary;
    color: #FFF;
}

.top10 {
    margin-top: 10px;
}
section#home {
    background: url(../images/home-thewall9.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;

    .wrapper {
        position: relative;
        z-index: 1;
        height: 100%;
        max-width: 970px;
        margin: 0 auto;
        color: #FFF;

        &:before, .container {
            display: inline-block;
            vertical-align: middle;
        }

        &:before {
            /* this is the important part */
            content: '';
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
            /* this just takes care of whitespace added by having display:inline-block (there are other methods) */
            margin-left: -0.25em;
        }

        .container {
            width: 99%;

            h1 {
                font-size: 45px;
                font-style: italic;
                text-transform: capitalize;

                b {
                    font-weight: 800;
                }
            }

            h2 {
                font-size: 24px;
                .sans-serif;
                font-weight: 300;
            }

            a.logo {
                max-width: 350px;
                padding-bottom: 25px;
            }
        }

        @media only screen and (max-width: 768px) {
            .container {
                h1 {
                    font-size: 22px;
                }

                h2 {
                    font-size: 20px;
                }

                a.logo {
                    max-width: 250px;
                    padding-bottom: 15px;
                }

                .btn {
                    margin: 10px 0;
                }
            }
        }
    }
}

#works {
    .intro-header {
        margin-bottom: 0;
    }

    #work-list {
        .col {
            padding-left: 0;
            padding-right: 0;

            .bg {
                background-position: center center;
                .background-cover();
                height: 400px;
                padding-top: 150px;
            }

            a {
                padding: 5px;
                margin: 0 20px;
                background-color: rgba(0, 0, 0, 0.6);

                h2, p {
                    color: @white;
                    text-shadow: 2px 2px 3px @black;
                }

                h2 {
                    margin-top: 0;
                }

                p {
                    margin-top: 5px;
                    font-size: 15px;
                    margin-bottom: 0;
                }
            }
        }
    }
}

#work {
    .intro-header {
        height: 100%;

        .page-heading {
            background-color: rgba(0,0,0,0.6);
            margin: 180px 0 160px;
        }
    }
}
/*TABLET PORTRAIT*/
@media only screen and (max-width: 767px) {
    body {
        padding-top: 50px;
    }

    .btn {
        font-size: 12px;
        padding: 15px 15px;
    }
}
/*CLEAN BLOG*/
.btn-tag {
    font-size: 12px;
    font-weight: 600;
    padding: 8px 10px;
    margin-top: 5px;
}

.intro-header {
    .post-heading {
        background-color: rgba(0,0,0,0.3);
    }
    /*TABLET PORTRAIT*/
    @media only screen and (max-width: 767px) {
        margin-bottom: 10px;
    }
}
