/*
    BTN
*/
.btn {
  border-radius: 2px;
  text-transform: uppercase;
  /*@media only screen and (max-width : 768px) {
        font-size: 20px;
    }*/
}
.btn.btn-primary {
  background-color: #FF1449;
  border: 1px solid #FF1449;
  color: #FFFFFF;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  background-color: rgba(255, 20, 73, 0.8);
  border: 1px solid rgba(255, 20, 73, 0.8);
  color: #FFFFFF;
}
.btn.btn-dark {
  background-color: #181820;
  border: 1px solid #181820;
  color: #FFFFFF;
}
.btn.btn-dark:hover,
.btn.btn-dark:focus,
.btn.btn-dark:active {
  background-color: rgba(24, 24, 32, 0.9);
  border: 1px solid rgba(24, 24, 32, 0.9);
  color: #FFFFFF;
}
.btn.btn-default {
  color: #FF1449;
}
/*
    NAVBAR
*/
.navbar-custom {
  background-color: rgba(24, 24, 32, 0.8);
  border-color: transparent;
}
.navbar-custom .navbar-text {
  color: #FFFFFF;
}
.navbar-custom .navbar-nav {
  min-height: 100px;
}
.navbar-custom .navbar-nav > li > a {
  text-transform: uppercase;
  font-size: larger;
  font-weight: lighter;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: rgba(255, 20, 73, 0.8);
  background-color: transparent;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: rgba(255, 20, 73, 0.8);
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: transparent;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #FFFFFF;
}
.navbar-custom .navbar-link {
  color: #FFFFFF;
}
.navbar-custom .navbar-link:hover {
  color: rgba(255, 20, 73, 0.8);
}
@media (min-width: 768px) {
  .navbar-custom .navbar-header .navbar-brand {
    height: auto;
    padding: 23px 0;
  }
  .navbar-custom .navbar-header img.logo {
    max-width: 250px;
  }
  .navbar-custom .navbar-nav {
    min-height: 100px;
  }
  .navbar-custom .navbar-nav > li > a {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .navbar-custom .navbar-brand {
    padding: 5px;
  }
  .navbar-custom .navbar-brand img {
    height: 35px;
  }
  .navbar-custom .navbar-header {
    background-color: #181820;
  }
  .navbar-custom .navbar-nav > li > a:hover,
  .navbar-custom .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: transparent;
  }
  .navbar-custom .navbar-collapse li {
    background-color: #181820;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Arapey', serif;
}
h2 {
  font-size: 40px;
}
a {
  transition: .5s;
  color: #FFFFFF;
}
a:hover,
a:focus,
a:active {
  color: #FF1449;
}
.wrapper {
  display: table;
  height: 100vh;
  width: 100%;
}
.wrapper .wrapper-container {
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  .wrapper {
    height: auto;
    display: block;
  }
  .wrapper .wrapper-container {
    display: block;
    vertical-align: auto;
  }
}
.fix-header {
  margin-top: 100px;
}
i.separator {
  width: 30px;
  height: 2px;
  background-color: #FF1449;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
i.separator.separator-block {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
i.separator.separator-white {
  background-color: #FFFFFF;
}
.subtitle {
  text-transform: uppercase;
}
.row-no-margin.row {
  margin-left: 0;
  margin-right: 0;
}
.row-no-margin.row .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}
.row-no-margin.row .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}
#footer {
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: #FFFFFF;
}
#footer .intro img.iso {
  margin: 40px;
  width: 100px;
}
#footer .intro .title {
  font-family: 'Arapey', serif;
  font-size: 34px;
}
#footer .intro .subtitle {
  max-width: 400px;
  margin: 0 auto;
  color: #9b9b9b;
}
#footer .intro a.btn {
  margin: 30px;
}
#footer .social {
  text-align: center;
  font-size: 32px;
  margin-bottom: 15px;
}
#footer .office-info {
  text-transform: uppercase;
}
#footer .office-info .our-office {
  color: #9b9b9b;
}
#footer .office-info .email {
  color: #FF1449;
}
#footer .menu,
#footer .lang {
  text-transform: uppercase;
  font-weight: lighter;
}
#footer .iso-small {
  max-width: 40px;
  margin-right: 10px;
}
#footer .last {
  text-transform: uppercase;
  color: #9b9b9b;
}
#footer .last span {
  margin-right: 10px;
  font-size: smaller;
}
#home #landing {
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: #FFFFFF;
}
#home #landing h1 {
  font-size: 60px;
}
#home #landing h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  text-transform: uppercase;
}
#home #landing .btn {
  margin-top: 20px;
}
#home #some-text {
  background-color: #e6e6e6;
  text-align: center;
  font-family: 'Arapey', serif;
  font-size: 26px;
}
#home #some-text .container {
  padding: 40px;
}
#home #services {
  position: relative;
  color: #FFFFFF;
}
#home #services #services-canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -999;
}
#home #services .row .service .icon {
  display: block;
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 40px;
  margin: 0 auto;
}
#home #services .row .service .icon svg {
  fill: #FF1449;
  width: 120px;
  height: 120px;
}
#home #services .row .service .icon:hover {
  background-color: transparent;
  border: 2px solid #FFFFFF;
}
#home #services .row .service .icon:hover svg {
  fill: #FFFFFF;
}
#home #services .row .service p {
  margin-top: 15px;
  text-align: center;
}
#home #services .row .service p a {
  font-size: 24px;
  font-family: 'Arapey', serif;
  color: #FFFFFF;
}
#home #services p.all {
  margin: 25px;
}
#theplayer9 {
  background-color: #FFFFFF;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: -150px;
  padding: 20px 80px;
}
#works .work {
  position: relative;
}
#works .work a.icon .hover {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  background: rgba(255, 20, 73, 0.8);
  opacity: 0;
  color: #FFFFFF;
  transition: opacity 0.4s ease-out;
}
#works .work a.icon .hover .info {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
#works .work a.icon .hover .info .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: larger;
}
#works .work a.icon .hover .info .subtitle {
  text-transform: none;
  font-weight: lighter;
}
#works .work a.icon:hover .hover {
  opacity: 1;
}
