/*
    BTN
*/
.btn {
  border-radius: 2px;
  text-transform: uppercase;
  /*@media only screen and (max-width : 768px) {
        font-size: 20px;
    }*/
}
.btn.btn-primary {
  background-color: #ee3454;
  border: 1px solid #ee3454;
  color: #FFFFFF;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  background-color: rgba(238, 52, 84, 0.8);
  border: 1px solid rgba(238, 52, 84, 0.8);
  color: #FFFFFF;
}
.btn.btn-dark {
  background-color: #181820;
  border: 1px solid #181820;
  color: #FFFFFF;
}
.btn.btn-dark:hover,
.btn.btn-dark:focus,
.btn.btn-dark:active {
  background-color: rgba(24, 24, 32, 0.9);
  border: 1px solid rgba(24, 24, 32, 0.9);
  color: #FFFFFF;
}
.btn.btn-default {
  color: #ee3454;
}
.form-control {
  text-transform: uppercase;
  font-weight: lighter;
}
/*
    NAVBAR
*/
.navbar-custom {
  background-color: #181820;
  border-color: transparent;
  transition: all 0.4s ease-in;
}
.navbar-custom.top {
  background-color: rgba(24, 24, 32, 0);
}
.navbar-custom .navbar-text {
  color: #FFFFFF;
}
.navbar-custom .navbar-nav {
  min-height: 100px;
}
.navbar-custom .navbar-nav > li > a {
  text-transform: uppercase;
  font-size: larger;
  font-weight: lighter;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: rgba(238, 52, 84, 0.8);
  background-color: transparent;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: rgba(238, 52, 84, 0.8);
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: transparent;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #FFFFFF;
}
.navbar-custom .navbar-link {
  color: #FFFFFF;
}
.navbar-custom .navbar-link:hover {
  color: rgba(238, 52, 84, 0.8);
}
@media (min-width: 768px) {
  .navbar-custom .navbar-header .navbar-brand {
    height: auto;
    padding: 23px 0;
  }
  .navbar-custom .navbar-header img.logo {
    max-width: 250px;
  }
  .navbar-custom .navbar-nav {
    min-height: 100px;
  }
  .navbar-custom .navbar-nav > li > a {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}
@media (max-width: 1199px) {
  .navbar-custom .navbar-nav > li > a {
    font-size: medium;
  }
}
@media (max-width: 767px) {
  .navbar-custom .navbar-brand {
    padding: 5px;
  }
  .navbar-custom .navbar-brand img {
    height: 40px;
  }
  .navbar-custom .navbar-header {
    background-color: #181820;
  }
  .navbar-custom .navbar-nav > li > a:hover,
  .navbar-custom .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: transparent;
  }
  .navbar-custom .navbar-collapse li {
    background-color: #181820;
  }
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 25px;
  height: 50px;
  margin-left: -20px;
  bottom: 150px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 767px) {
  html,
  body {
    margin-top: 20px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Arapey', serif;
}
h2 {
  font-size: 40px;
}
a {
  transition: .5s;
  color: #FFFFFF;
}
a:hover,
a:focus,
a:active {
  color: #ee3454;
}
.wrapper {
  display: table;
  height: 100vh;
  width: 100%;
}
.wrapper .wrapper-container {
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  .wrapper {
    height: auto;
    display: block;
  }
  .wrapper .wrapper-container {
    display: block;
    vertical-align: auto;
  }
}
.fix-header {
  margin-top: 100px;
}
i.separator {
  width: 30px;
  height: 2px;
  background-color: #ee3454;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
i.separator.separator-block {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
i.separator.separator-white {
  background-color: #FFFFFF;
}
.subtitle {
  text-transform: uppercase;
}
.row-no-margin.row {
  margin-left: 0;
  margin-right: 0;
}
.row-no-margin.row .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}
.row-no-margin.row .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}
.header-page {
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
}
.header-page h1 {
  margin: 140px 0 20px 0;
  font-size: 60px;
  text-transform: capitalize;
}
.header-page h2 {
  font-size: 32px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 1199px) {
  .header-page h1 {
    margin: 50px 0 10px 0;
    font-size: 40px;
  }
  .header-page h2 {
    font-size: 22px;
    margin-bottom: 30px;
  }
}
#footer {
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: #FFFFFF;
  padding-bottom: 40px;
}
#footer .intro img.iso {
  margin: 40px;
  width: 100px;
}
#footer .intro .title {
  font-family: 'Arapey', serif;
  font-size: 34px;
}
#footer .intro .subtitle {
  max-width: 400px;
  margin: 0 auto;
  color: #b4b4b4;
}
#footer .intro a.btn {
  margin: 30px;
}
#footer .social {
  text-align: center;
  font-size: 32px;
  margin-bottom: 15px;
}
#footer .menu,
#footer .lang {
  text-transform: uppercase;
  font-weight: lighter;
}
#footer .last {
  text-transform: uppercase;
  color: #b4b4b4;
}
#footer .last span {
  margin-right: 10px;
  font-size: smaller;
}
.office-info {
  text-transform: uppercase;
}
.office-info .our-office {
  color: #b4b4b4;
}
.office-info .email {
  color: #ee3454;
}
#home #landing {
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: #FFFFFF;
  position: relative;
  z-index: -1;
}
#home #landing h1 {
  font-size: 60px;
}
#home #landing h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  text-transform: uppercase;
}
#home #landing .btn {
  margin-top: 20px;
}
#home #theplayer9 {
  width: 60%;
  margin: 0 auto;
  margin-top: -100px;
}
#home #theplayer9 .container {
  width: 100%;
}
@media only screen and (max-width: 1199px) {
  #home #theplayer9 {
    width: 90%;
  }
}
@media only screen and (max-width: 991px) {
  #home #theplayer9 {
    margin-top: 0;
    width: 100%;
  }
}
#home #some-text {
  background-color: #e6e6e6;
  text-align: center;
  font-family: 'Arapey', serif;
  font-size: 26px;
}
#home #some-text .container {
  padding: 40px;
}
#home .services {
  color: #FFFFFF;
}
@media (max-width: 767px) {
  #home #landing h1 {
    font-size: 40px;
  }
  #home #landing h2 {
    font-size: 16px;
  }
}
#theplayer9 {
  background-color: #FFFFFF;
  text-align: center;
  padding: 20px 80px 40px 80px;
}
@media only screen and (max-width: 991px) {
  #theplayer9 {
    padding: 5px;
  }
}
#works #theplayer9 {
  background: radial-gradient(circle, #fff, #d7d7d7);
}
.works .work {
  position: relative;
}
.works .work a.icon .hover {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  background: rgba(238, 52, 84, 0.8);
  opacity: 0;
  color: #FFFFFF;
  transition: opacity 0.4s ease-out;
}
.works .work a.icon .hover .info {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.works .work a.icon .hover .info .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: larger;
}
.works .work a.icon .hover .info .subtitle {
  text-transform: none;
  font-weight: lighter;
}
.works .work a.icon:hover .hover {
  opacity: 1;
}
#services {
  background: radial-gradient(circle, #fff, #d7d7d7);
}
#services .content {
  padding-top: 30px;
  padding-bottom: 10px;
}
#services .service .icon {
  background-color: transparent;
  border: 0px solid #ee3454;
  border-radius: 100%;
  padding: 0 20px;
}
#services .service .icon svg {
  fill: #181820;
  width: 180px;
  height: 180px;
}
#services .service .icon:hover {
  border: 0px solid #ee3454;
}
#services .service .icon:hover svg {
  fill: #181820;
}
#services .service .service-info {
  font-size: 14px;
}
#services .service .service-info li {
  padding: 5px 0;
}
.services {
  position: relative;
}
.services #services-canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -999;
}
.services .row .service .icon {
  display: block;
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 40px;
  margin: 0 auto;
}
.services .row .service .icon svg {
  fill: #ee3454;
  width: 120px;
  height: 120px;
}
.services .row .service .icon:hover {
  background-color: transparent;
}
.services .row .service .icon:hover svg {
  fill: #FFFFFF;
}
.services .row .service p {
  margin-top: 15px;
  text-align: center;
}
.services .row .service p a.title:hover {
  color: #181820;
}
.services .row .service p .title {
  font-size: 24px;
  font-family: 'Arapey', serif;
}
.services p.all {
  margin: 25px;
}
#contact {
  background: radial-gradient(circle, #fff, #d7d7d7);
}
#contact .office-info {
  background: #FFFFFF;
  margin-top: -30px;
  padding: 50px;
}
#contact .office-info .social {
  font-size: 32px;
  margin-bottom: 15px;
}
#contact .office-info .social a {
  color: #ee3454;
}
#contact #contact-form {
  padding: 25px 0;
}
#blog .header-page {
  margin-bottom: 30px;
}
#blog .header-page span.meta {
  display: block;
  font-size: 16px;
  color: #b4b4b4;
  margin-top: 5px;
}
#blog .post-preview > a {
  color: #3d3d3d;
}
#blog .post-preview > a:hover,
#blog .post-preview > a:focus {
  text-decoration: none;
  color: #ee3454;
}
#blog .post-preview > a > .post-title {
  font-size: 30px;
  margin-bottom: 10px;
}
#blog .post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
#blog .post-preview > .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
#blog .post-preview > .post-meta > a {
  text-decoration: none;
  color: #3d3d3d;
}
#blog .post-preview > .post-meta > a:hover,
#blog .post-preview > .post-meta > a:focus {
  color: #ee3454;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  #blog .post-preview > a > .post-title {
    font-size: 36px;
  }
}
#blog article {
  color: #181820;
  font-size: 18px;
}
#blog article p {
  margin: 15px 0;
}
#blog article a {
  text-decoration: underline;
  color: #ee3454;
}
#blog article a:hover,
#blog article a:focus {
  color: rgba(238, 52, 84, 0.8);
}
#blog article h2,
#blog article h3 {
  margin-top: 0px;
}
#blog article h2 {
  font-size: 34px;
}
#blog article h3 {
  font-size: 28px;
}
#blog #post-footer {
  text-align: center;
  padding-bottom: 10px;
}
#blog #post-footer h4 {
  color: #3d3d3d;
  font-size: 25px;
  margin: 20px 0 10px;
}
#blog #post-footer .share .addthis_sharing_toolbox {
  margin: 0 auto;
  width: 200px;
  margin-bottom: 10px;
}
