// Mixins
@import "variables.less";

.transition-all() {
    transition: all 0.5s;
}

.background-cover() {
    background-size: cover;
}

.serif() {
    font-family: 'Lora', 'Times New Roman', serif;
}

.sans-serif () {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@bgDefault: transparent;
@bgHighlight: transparent;
@colDefault: @white;
@colHighlight: @white;
@dropDown: false;
@colMobile: @black;

.ddm() when (@dropDown) {
    > li > .dropdown-menu {
        background-color: @bgDefault;

        > li {
            > a {
                color: @colDefault;

                &:hover, &:focus {
                    color: @colHighlight;
                    background-color: @bgHighlight;
                }
            }

            > .divider {
                background-color: @bgHighlight;
            }
        }
    }

    .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
            color: @colHighlight;
            background-color: @bgHighlight;
        }
    }
}

.navbar-custom {
    background-color: @bgDefault;
    border-color: @bgHighlight;

    .navbar-text {
        color: @colDefault;
    }

    .navbar-nav {
        > li {
            > a {
                color: @colDefault;

                &:hover, &:focus {
                    color: @colHighlight;
                }
            }
        }

        .ddm;

        > .active {
            > a, > a:hover, > a:focus {
                color: @colHighlight;
                background-color: @bgHighlight;
            }
        }

        > .open {
            > a, > a:hover, > a:focus {
                color: @colHighlight;
                background-color: @bgHighlight;
            }
        }
    }

    .navbar-toggle {
        border-color: @bgHighlight;

        &:hover, &:focus {
            background-color: @bgHighlight;
        }

        .icon-bar {
            background-color: @colDefault;
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: @colDefault;
    }

    .navbar-link {
        color: @colDefault;

        &:hover {
            color: @colHighlight;
        }
    }
}

@media (max-width: 767px) {
    .navbar-custom {
        .navbar-brand {
            padding: 5px;

            img {
                height: 40px;
            }
        }

        .navbar-header {
            background-color: @colMobile;
        }

        .navbar-collapse {
            li {
                background-color: @colMobile;
            }
        }
    }
}
