@import '../variables.less';
@import '../mixins.less';
@import '../keyframes.less';

#landing{
    background-repeat:repeat;
    background-position: center center;
    background-attachment:fixed;
    background-size: cover;
    color:@white;
    h1{
        font-size:60px;
    }
    h2{
        .font-body;
        font-weight:lighter;
        font-size:18px;
        text-transform:uppercase;
    }
    .btn{
        margin-top:20px;
    }
}