@import '../variables.less';
@import '../mixins.less';
@import '../keyframes.less';

#footer {
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: @white;

    .intro {
        img.iso {
            margin: 40px;
            width: 100px;
        }

        .title {
            .font-heading;
            font-size: 34px;
        }

        .subtitle {
            max-width: 400px;
            margin: 0 auto;
            color: @gray-light;
        }

        a.btn {
            margin: 30px;
        }
    }

    .social {
        text-align: center;
        font-size: 32px;
        margin-bottom: 15px;
    }



    .menu, .lang {
        text-transform: uppercase;
        font-weight: lighter;
    }

    .iso-small {
        max-width: 40px;
        margin-right: 10px;
    }

    .last {
        text-transform: uppercase;
        color: @gray-light;

        span {
            margin-right: 10px;
            font-size: smaller;
        }
    }
}

.office-info {
    text-transform: uppercase;

    .our-office {
        color: @gray-light;
    }

    .email {
        color: @brand-primary;
    }
}
