@import '../variables.less';
@import '../mixins.less';
@import '../keyframes.less';

.works {
    .theplayer9 {
        background-color: @white;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        margin-top: -150px;
        padding: 20px 80px;
    }
}
